<!doctype html>
<html>

  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
      }
      
      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }
      
      tr:nth-child(even) {
          background-color: #dddddd;
      }
      </style>

    <title>Projekt Hurtownie danych</title>

  </head>

  <body>

        <nav class="navbar" style="background-color: #fecc0c;"> <!-- navbar-->
                <span class="navbar-brand mb-0 h1">Projekt Hurtownie danych</span>
        </nav>
    <div class="container">
          
        <script type="text/javascript">
        
        document.write("<table>")
            document.write("<tr>")
                
                document.write("<th>Tytuł ogłoszenia</th>")
                document.write("<th>Szczegóły</th>")
                document.write("<th>Cena za metr 2</th>")
                document.write("<th>Cena</th>")

            document.write("</tr>")
   //         for (var a=0; a = 10; a++) {
        document.write("<tr>")

    //    document.write("{% for n in nazwa %}")
    document.write("<th>", "{{nazwa}}","</th>")
        document.write("<th>", "{{podpis}}", "{{pokoj}}", "{{metry}}","</th>")
   //     document.write("{% endfor %}")
        document.write("<th>", "{{cena_metr}}", "</th>")
        document.write("<th>" , "{{cena}}", "</th>")
        document.write("</tr>")

        
              
      /*         document.write("<tr>")

                    document.write("{% for n in nazwa %}")
                document.write("<th>", "{{n}}","</th>")
                    document.write("{% endfor %}")
                document.write("<th>"+ "podpis, pokoj, metry" +"</th>")
                document.write("<th>"+ "cena_metr" + "</th>")
                document.write("<th>" + "cena" + "</th>")

              document.write("</tr>")

         }   */

        document.write("</table>")

        </script>

      <table>

    </div>

  </body>
  
</html>

<!--

  document.write("<th>"+ "{{nazwa}}" +"</th>")
                document.write("<th>"+ "{{podpis, pokoj, metry}}" +"</th>")
                document.write("<th>"+ "{{cena_metr}}" + "</th>")
                document.write("<th>" + "{{cena}}" + "</th>")

-->